{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Animaux
{% endblock %}

{% block body %}
    <section>
            {{ form_start(animalForm) }}

            {{ form_widget(animalForm) }}

            <button>Créez !</button>

            {{ form_end(animalForm) }}
    </section>
{% endblock %}