{% extends 'base.html.twig' %}

{% block title %}
    Animal perdu ou trouvé ? | {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        todo :
        créer le formulaire de creation d'une nouvelle annonce d'un animal perdu ou trouvé
    </section>
{% endblock %}