{% extends 'base.html.twig' %}

{% block title %}
    Animal perdu ou trouvé ? | {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        todo :
        afficher la liste des annonces des animaux perdus
        NB : penser à mettre un rappel "appeler la PM la plus proche pour la fourrière"
    </section>

{% endblock %}
