{% extends "base.html.twig" %}

{% block title %}
{{ parent() }} | Home
{% endblock %}


{% block body %}
    <h1>Bonjour et bienvenu</h1>
    <article>
        Actuellement, le site recense :
        <li>xx objets perdus.</li>
        <li>xx objets trouvés.</li>


        <br>

        <li>xx animaux perdus.</li>
        <li>xx animaux trouvés.</li>

        <br>

        <li>xx personnes signalées disparues.</li>
    </article>
{% endblock %}