body {
    background: rgb(156,151,240);
    background: linear-gradient(176deg, rgba(156,151,240,1) 0%, rgba(9,9,121,1) 41%, rgba(64,193,219,1) 100%);;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: 'Crimson Text', serif;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

a {
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
    background-color: white;
}
a:focus {
    color: crimson;
    background-color: white;
}


img {
    max-width: 100%;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header img {
    height: 70px;
}

/* CSS lié au formulaire */
label{
    display: block;
}

input,
textarea,
select{
    margin-bottom: 1rem;
    box-sizing: border-box;
    max-width: 50%;
    width: 150px;
}

/* FIN CSS FORMULAIRE*/



main {
    flex: 1;
}

/* CSS lié à la barre de navigation */
.nav > li > a{
    color: #5eb5e0;
}
.nav > li > a:hover{
    color: white;
}
.nav > li > a:focus {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

nav ul {
    display: flex;
    list-style: none ;
}

nav li {
    color: red;
}

/* CSS lié à l'affiche des réponses des objets */
.objet-liste {
    display: flex;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}



