{% extends 'base.html.twig' %}

{% block title %}
    Détails des annonces | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>
        {#  todo : le titre de l'annonce + toutes les infos liées #}
    </h2>
{% endblock %}
