{% extends 'base.html.twig' %}

{% block title %}
    Liste des annonces | {{ parent() }}
{% endblock %}

{% block body %}

    <section>
        todo : afficher la liste des annonces d'objets perdus
    </section>

{% endblock %}
