{% extends 'base.html.twig' %}

{% block title %}
    Personne disparue ? | {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        todo :
        créer le formulaire de creation d'une nouvelle annonce
    </section>
{% endblock %}