{% extends 'base.html.twig' %}

{% block title %}
    Détails de l'annonce | {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        todo :
        Afficher le titre de l'annonce + toutes les infos liées
        NB : s'inspirer de la page du site des mineurs disparus
    </section>
{% endblock %}
