{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Modification
{% endblock %}

{% block body %}
    <div>
        {{ form_start(personneForm) }}

        {{ form_widget(personneForm) }}

        <button>Modifier !</button>

        {{ form_end(personneForm) }}
    </div>

{% endblock %}