{% extends 'base.html.twig' %}

{% block title %}
    Liste des annonces | {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        todo : afficher la liste des annonces des disparitions inquiétantes
        +
        rappel site du Ministère de la Justice et mineurs disparus
    </section>
{% endblock %}
