{% extends 'base.html.twig' %}

{% block title %}
    Détails de l'annonces | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>
        todo :
        Afficher le titre de l'annonce + toutes les infos liées
    </h2>
{% endblock %}
