{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Modification
{% endblock %}

{% block body %}
    <div>
        {{ form_start(objetForm) }}

        {{ form_widget(objetForm) }}

        <button>Modifier !</button>

        {{ form_end(objetForm) }}
    </div>

{% endblock %}