{% extends 'base.html.twig' %}

{% block title %}
    Connexion / Inscription | {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        todo :
        créer le formulaire de creation d'un nouvel utilisateur
        +
        créer le formulaire de connexion
    </section>
{% endblock %}