{% extends 'base.html.twig' %}

{% block title %}
    Mon profil | {{ parent() }}
{% endblock %}

{% block body %}
    <section>
       todo :
        Fiche de l'utilisateur
        +
        Liste de ses annonces
    </section>
{% endblock %}